*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:Montserrrat;
    src: url(../Fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family:MontserrratBold;
    src: url(../Fonts/Montserrat-Bold.ttf);
}
h1,h2,h3,h4,h5,h6,p{
    font-family:MontserrratBold;
}