@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --secondryColor:#c09f63;
    --textColor:#7a7a7a;
    --light:#7f7f7f;
    --lightbg:#f2f2f2;
    --white:#ffffff;
    --black:#000000;
    --hrDark:#6d6d6d;
    --lightborder:#b3b3b3;
}
body{
    font-family: 'Montserrat', sans-serif;
}
section,footer{
    max-width: 1640px;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
    letter-spacing: 4px;
    text-transform: uppercase;
}
p{
    color: var(--textColor);
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
    font-weight: 400;
}
h3{
    font-size: 23px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 13px;
}
p{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
}
ul{
    font-size: 14px;
    color: var(--light);
}
.strong{
    font-weight: 700;
}
.left{
    float: left;
}
.right{
    float: right;
}
.align-center{
    text-align: center;
}
.d-block{
    display: block;
}
.mx-auto{
    margin: 0 auto;
}
.mt-5p{
    margin-top: 5px;
}
.mt-15p{
    margin-top: 15px;
}
.mt-25p{
    margin-top: 25px;
}
.mt-50p{
    margin-top: 50px;
}
.mt-65p{
    margin-top: 65px;
}
.p-50p{
    padding: 50px;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content:flex-end;
}
.align-items-center{
    align-items: center;
}
.h-100vh{
    height: 100vh;
}
.column{
    flex-direction: column;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.h-100{
    height: 100%;
}
.w-100{
    width: 100%;
}