#logostructure h3{
    font-weight: 500;
}
#whyUs>.background>p{
    font-size: 120px;
    line-height: 135px;
    z-index: -1;
    color: rgba(236, 236, 236, 0.66);
    font-weight: 700;
}
#whyUs>.content>h1{
    font-weight: 700;
    letter-spacing: 8px;
}
.content{
    z-index: 1;
}
#whyUs>.content>h6,#partners h6,.firstline h6{
    color: var(--secondryColor);
    font-weight: 500;
}
.logoimage{
    height: 240px;
    width: 316px;
    object-fit: cover;
}
.column-image{
    height: 600px;
    width: 650px;
    overflow: hidden;
    object-fit: cover;
}
#future>div,#history>div,.description>div,#survival>div,#timing>div{
    flex: 0 50%;
}
.aboutFuture{
    padding: 100px 50px;
}
#forward>.aboutFuture>h4{
    color: var(--secondryColor);
    font-weight: 500;
}
#process{
    background-color: var(--lightbg);
    padding: 50px 100px;
}
#process>.processHeading>h6{
    font-weight: 400;
    color: var(--secondryColor);
}
#process ul{
    gap: 30px;
}
#process ul li:first-child{
    list-style: none;
}
.threelinebox,.threeinlinebox,.threelinetext,.icon-container{
    gap: 35px;
}
.threelinebox>div{
    height: 350px;
    width: 300px;
    background-color: var(--white);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#process hr{
    width: 45px;
    border: 1px solid var(--secondryColor);
    color: var(--secondryColor);
}
#fourelement h6{
    font-weight: 400;
    letter-spacing: 10px;
    color: var(--secondryColor);
}
.fourinlinebox{
    gap: 35px;
}
.fourinlinebox>div{
    width: 250px;
}
.analysis i{
    color: var(--secondryColor);
}
.iconbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    padding: 50px;
    border: 2px solid var(--secondryColor);
}
.strategy .iconbox{
    border-color: var(--black);
}
.execution .iconbox{
    border-color:var(--hrDark);
}
.clocksupport .iconbox{
    border-color:var(--lightborder);
}
.fourinlinebox i{
    font-size: 65px;
}
#fourelement hr{
    width: 150px;
    border: 1px solid var(--hrDark);
    color: var(--hrDark);
}
#experience h6,#hires h6{
    font-weight: 400;
    letter-spacing: 3px;
    color: var(--lightborder);
}
.threeinlinebox>div{
    height: 450px;
    width: 300px;
    border: 2px solid black;
}
#experience ul{
    list-style: circle;
}
#experience li{
    line-height: 25px;
}
.threeinlinebox>div:nth-child(2){
    border: 2px solid var(--secondryColor);
    background-color: var(--secondryColor);
}
.threeinlinebox>div:nth-child(2) h5,.threeinlinebox>div:nth-child(2) p{
    color: var(--white);
}
#partners h2{
    font-weight: 500;
}
#partners .image{
    height: 250px;
    width: 250px;
    margin: 8px;
}
#partners img{
    height: 250px;
    width: 250px;
    object-fit: cover;
}
#partners h5{
    color: var(--white);

}
.fiveinlineicon{
    gap: 35px;
    background-color: var(--lightbg);
}
.fiveinlineicon div{
    /* height: 250px; */
    width: 250px;
    /* border: 2px solid; */
}
#hires h5{
    font-weight: 500;
}
#hires p{
    padding: 0 20px;
}
#hires i{
    font-size: 50px;
}
.storyimage{
    height: 500px;
    width: 600px;
    object-fit: cover;
}
#long-story img{
    height: 500px;
    width: 600px;
}
#long-story h5{
    font-weight: 300;
}
.background{
    width: 100%;
    height: 330px;
}
#franchise>.background>div,#resort>.background>div,#portfolio>.background>div,#luxury>.background>div,#small-cap>.background>div{
    background-image: url(../images/backgrounds/Apparel\ franchaise.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.threelinetext>div,.icon-container>div,.contactpage>div{
    flex: 0 33%;
}
.thirdline h6{
    font-size: 10px;
    color: var(--textColor);
}
#resort>.background>div{
    background-image: url(../images/backgrounds/Resort\ property.png);
}
#portfolio>.background>div{
    background-image: url(../images/backgrounds/real\ estate\ portfolio.png);
}
#luxury>.background>div{
    background-image: url(../images/backgrounds/Luxury\ magazine.png);
}
#small-cap>.background>div{
    background-image: url(../images/backgrounds/small\ cap\ public\ magazine.png);
}
.environment h6,footer h6{
    letter-spacing: 3px;
    font-weight: 400;
    color: var(--textColor);
}
.map>div{
    height: 600px;
    width: 1200px;
    
}
.map img{
    width: 1200px;
    height: 600px;
    object-fit: cover;
}
.regular-description p{
    font-size: 17px;
}
.double-quote>i{
    font-size: 150px;
}
.jack>h6{
    font-weight: 400;
    color: var(--textColor);
}
.icon-box{
    gap: 20px;
}
.icon-box h5{
    font-weight: 400;
}
.icon-image{
    width: 25px;

}
.icon-image img{
    width: 25px;
    object-fit: cover;
}
.socials i{
    font-size: 20px;
    color: var(--textColor);
}
.social{
    width: 35px;
    height: 35px;
    border: 1px solid var(--textColor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
footer h5{
    font-weight: 500;
    color: var(--textColor);
}
footer .socials{
    position: absolute;
    left: 50%;
    gap: 12px;
    transform: translate(-50%, 0px);
    bottom: 5px;
}